<section [class]="app && app.type === 'component' ? '' : 'hidden'" class="app-section">
    <div class="app-toolbar">
      <div class="app-toolbar__title">
        <app-icon [app]="app" disableText size="small"></app-icon><span>{{ app?.name }}</span>
      </div>
      <div class="app-toolbar__actions">
        <button (click)="minimize()">
          <span class="material-symbols-outlined">remove</span>
        </button>
        <button (click)="close()">
          <span class="material-symbols-outlined">close</span>
        </button>
      </div>
    </div>
  <div class="app">
    <ng-container #appContainer></ng-container>
  </div>
</section>
@if (app == null) {
  <section class="app-icon-organizer" id="app-icon-organizer">
    <div class="app-icon-organizer__app"
         *ngFor="let appIcon of apps"
         (mousedown)="onMouseDown($event, appIcon)"
         [id]="appIcon.key"
         [style]="getStyleForAppIcon(appIcon)">
      <app-icon [app]="appIcon" size="large"></app-icon>
    </div>
  </section>
}
