<main>
  <div class="left-toolbar">
    <div class="os-logo" (click)="openSettings()" tp="Open OS settings" tpPlacement="right">
      <img src="img/logo.png" alt="logo"/>
    </div>
    <div class="time">
      <span>{{getLocalTimeString()}} | {{degrees}}</span>
      <span>{{getLocalDateString()}}</span>
    </div>
  </div>
  <div>
    <div class="apps">
      @if (currentlyOpenApp != null || apps.length > 0) {
        <span>Opened Tabs:</span>
        @if (currentlyOpenApp != null) {
          <div class="apps__app apps__app--active" (click)="closeCurrentApp()" tp="Close">
            <app-icon [app]="currentlyOpenApp" disableText size="small"></app-icon>
            <span>{{currentlyOpenApp.name}}</span>
          </div>
        }
        <div *ngFor="let app of apps" class="apps__app" (click)="openApp(app)" tp="Open">
          <app-icon [app]="app" disableText size="small"></app-icon>
          <span>{{app.name}}</span>
        </div>
      } @else {
        <span>No tabs opened</span>
      }
    </div>
  </div>
</main>
