@use "variables" as vars;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';
@import 'tippy.js/animations/scale.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$color-text;
  font: 400 16px Nunito, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

::selection {
  background-color: vars.$color-primary;
  color: vars.$color-text;
}

button {
  cursor: pointer;
  padding: 0.5em 1.5em;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
  border: 2px solid vars.$color-primary;

  &:hover {
    background-color: vars.$color-primary;
    color: #ffffff;
  }

  &:active {
    transform: scale(0.95);
  }

  &.active {
    background-color: vars.$color-primary;
    color: #ffffff;
  }
}
